# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos temporários
*.log

# Configurações do VS Code
.vscode/

# Configurações do PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db